# dependencies
node_modules

# testing
coverage

# next.js
.next/
out/

# production
build
server.js*
reimage.sh

# misc
.vscode
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
*.env*
!.env.sample

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
